{% extends 'store/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<div class="page-heading" id="top">

<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img  src="{% static 'store/images/left-banner-image.jpg' %}" 
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form method="post" >
            <!-- <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Sign in with</p>
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>
  
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>
  
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-linkedin-in"></i>
              </button>
            </div>
   -->
   {% csrf_token %}

            <div class="divider d-flex align-items-center my-4">
                <p class="lead fw-normal mb-0 me-5">Acceder a votre compte</p>
            </div>
  
            <!-- Email input -->
            <div class="form-outline mb-4">
              {% bootstrap_field form.username class='form-control form-control-lg' %}
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              {% bootstrap_field form.password class='form-control form-control-lg' %}
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Se souvenir de moi
                </label>
              </div>
              <a href="#!" class="text-body">Mot de passe oublié ?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <input type="hidden" name="next" value="{{ next }}">
              <button class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" type="submit" >Se connecter</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Pas encore de compte ?<a href="#!"
                  class="link-danger">Creer un compte</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    <!-- <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary"> -->
      <!-- Copyright -->
      <!-- Copyright -->
  
      <!-- Right
      <div>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
     Right -->

     </div>
  </section>
{% endblock %}