{% extends 'store/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<div class="page-heading" id="top">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <img  src="{% static 'accounts/images/logout.png' %}" >
        </div>
      </div>
    </div>
  </div>

{% endblock %}