
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    {% load static %}

    <title>3and Linda</title>
    <link rel="icon" type="image/x-icon" href="{% static 'store/images/favicon.svg' %}">


    <!-- Additional CSS Files -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'store/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'store/css/templatemo-hexashop.css' %}">

    <link rel="stylesheet" href="{% static 'store/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'store/css/lightbox.css' %}">
<!--

TemplateMo 571 Hexashop

https://templatemo.com/tm-571-hexashop

-->
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'store:index' %}" class="logo_update">
                            <img src="{% static 'store/images/logo_carre.png' %}">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            {% if categorie %}
                            <li class="scroll-to-section"><a href="{% url 'store:index' %}">Accueil</a></li>
                            {% elif not categorie and not connection %}
                            <li class="scroll-to-section"><a href="{% url 'store:index' %}" class="active">Accueil</a></li>
                            {% else %}
                            <li class="scroll-to-section"><a href="{% url 'store:index' %}">Accueil</a></li>
                            {% endif %}
                            {% if categorie == "vetement" %}
                            {% endif %}
                            {% if categorie == "vetement" %}
                            <li class="scroll-to-section"><a href="/store/categories?categorie=vetement" class="active">Vêtements</a></li>
                            {% else %}
                            <li class="scroll-to-section"><a href="/store/categories?categorie=vetement">Vêtements</a></li>
                            {% endif %}
                            {% if categorie == "cosmetique" %}
                            <li class="scroll-to-section"><a href="/store/categories?categorie=cosmetique" class="active">Cosmétiques</a></li>
                            {% else %}
                            <li class="scroll-to-section"><a href="/store/categories?categorie=cosmetique">Cosmétiques</a></li>
                            {% endif %}
                            {% if categorie == "bijoux" %}
                            <li class="scroll-to-section"><a href="/store/categories?categorie=bijoux" class="active">Bijoux</a></li>
                            {% else %}
                            <li class="scroll-to-section"><a href="/store/categories?categorie=bijoux">Bijoux</a></li>
                            {% endif %}
                            {% if categorie == "enfant" %}
                            <li class="scroll-to-section"><a href="/store/categories?categorie=enfant" class="active">Enfants</a></li>
                            {% else %}
                            <li class="scroll-to-section"><a href="/store/categories?categorie=enfant">Enfants</a></li>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <li class="scroll-to-section"><a href="/accounts/logout" >Se déconnecter</a></li>
                            {% else %}
                                {% if connection %}
                                <li class="scroll-to-section"><a href="/accounts/login" class="active">Se connecter</a></li>
                                {% else %}
                                <li class="scroll-to-section"><a href="/accounts/login">Se connecter</a></li>
                                {% endif %}
                            {% endif %}



                            <!-- <li class="submenu">
                                BOUTIQUE
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="about.html">Qui sommes nous</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li> -->
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    {% block content %}{% endblock %}


    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-3">
                    <h4>Shopping </h4>
                    <ul>
                        {% if categorie %}
                        <li><a href="{% url 'store:index' %}">Accueil</a></li>
                        {% else %}
                        <li><a href="{% url 'store:index' %}" class="active">Accueil</a></li>
                        {% endif %}
                        {% if categorie == "vetement" %}
                        <li><a href="/store/categories?categorie=vetement" class="active">Vêtements</a></li>
                        {% else %}
                        <li><a href="/store/categories?categorie=vetement">Vêtements</a></li>
                        {% endif %}
                        {% if categorie == "cosmetique" %}
                        <li><a href="/store/categories?categorie=cosmetique" class="active">Cosmétiques</a></li>
                        {% else %}
                        <li><a href="/store/categories?categorie=cosmetique">Cosmétiques</a></li>
                        {% endif %}
                        {% if categorie == "bijoux" %}
                        <li><a href="/store/categories?categorie=bijoux" class="active">Bijoux</a></li>
                        {% else %}
                        <li><a href="/store/categories?categorie=bijoux">Bijoux</a></li>
                        {% endif %}
                        {% if categorie == "enfant" %}
                        <li><a href="/store/categories?categorie=enfant" class="active">Enfants</a></li>
                        {% else %}
                        <li><a href="/store/categories?categorie=enfant">Enfants</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Liens utiles</h4>
                    <ul>
                        <li><a href="{% url 'store:index' %}">Homepage</a></li>
                        <li><a href="#">Qui sommes nous</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Aides &amp; Informations</h4>
                    <ul>
                        <li><a href="#">Aides</a></li>
                        <li><a href="#">FAQ's</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">                        
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="{% static 'store/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'store/js/popper.js' %}"></script>
    <script src="{% static 'store/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'store/js/owl-carousel.js' %}"></script>
    <script src="{% static 'store/js/accordions.js' %}"></script>
    <script src="{% static 'store/js/datepicker.js' %}"></script>
    <script src="{% static 'store/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'store/js/waypoints.min.js' %}"></script>
    <script src="{% static 'store/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'store/js/imgfix.min.js' %}"></script> 
    <script src="{% static 'store/js/slick.js' %}"></script> 
    <script src="{% static 'store/js/lightbox.js' %}"></script> 
    <script src="{% static 'store/js/isotope.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'store/js/custom.js' %}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>