{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<script>
    
    function addType(type) {
        var url = new URL(window.location.href);
        if (url.searchParams.has('type')) {
            url.searchParams.delete('type')
        }
        url.searchParams.append('type', type);
        window.location.replace(url);

        return false
    }
    function addCouleur(Couleur) {

        var url = new URL(window.location.href);
        if (url.searchParams.has('Couleur')) {
            url.searchParams.delete('Couleur')
        }
        url.searchParams.append('Couleur', Couleur);
        window.location.replace(url);

        return false
    }
</script> 
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="main-nav">
                <!-- ***** Logo Start ***** -->
                <a href="index.html" class="logo_update">
                    <img src="{% static 'store/images/logo_carre.png' %}">
                </a>
                <!-- ***** Logo End ***** -->
                <!-- ***** Menu Start ***** -->
               
                <!-- ***** Menu End ***** -->
            </nav>
        </div>
    </div>
</div>
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top"  style="background-image: url(/media/{{background}})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <span>{{categorie.description}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Products Area Starts ***** -->
   
    <section class="section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Nos derniers produits</h2>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-white  bg-light">
            <div class="container-fluid justify-content-start">

                <div class="dropdown pr-3">
                    <button class="btn btn-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Types de vetements
                    </button>
                    <ul class="dropdown-menu">
                        {% for object in objects %}
                      <li><a  onclick="addType('{{object.id}}'); return false;" class="dropdown-item" href="">{{object.name}}</a></li>
                          {% endfor %}

                    </ul>
                  </div>
                  <div class="dropdown pr-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Couleurs
                    </button>
                    <ul class="dropdown-menu">
                        {% for couleur in couleurs %}
                      <li><a  onclick="addCouleur('{{couleur.id}}'); return false;" class="dropdown-item" href="">{{couleur.name}}</a></li>
                          {% endfor %}

                    </ul>
                  </div>
                  
                  
            </div>
          </nav>
    </br>
        <div class="container">
            <div class="row">
                <!----->
                {% for item in articles %}
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="{% url 'store:detail' item.id %}"><i class="fa fa-eye"></i></a></li>
                                    <!-- <li><a href="single-product.html"><i class="fa fa-star"></i></a></li> -->
                                    <!-- <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li> BOUTIQUE -->
                                </ul>
                            </div>
                            <img src="/media/{{item.image}}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>{{item.name}}</h4>
                            <span>{{item.prix}} DZ</span>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
      
                <!-- <div class="col-lg-12">
                    <div class="pagination">
                        <ul>
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li class="active">
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">></a>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- ***** Products Area Ends ***** -->

{% endblock %}