{% extends 'store/base.html' %}
{% load static %}
{% block content %}
{% load bootstrap5 %}
<div class="page-heading" id="top">

<div class="container">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" value="Enregistrer" class="btn btn-primary">
            </form>

</div>
</div>
{% endblock %}
