{% extends 'store/base.html' %}
{% load static %}
{% block content %}


    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Product Area Starts ***** -->
    <div class="page-heading" id="top">
    <section class="section" id="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                <div class="left-images">
                    <img src="/media/{{article.image}}" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-content">
                    <h4>{{article.name}}</h4>
                    <span class="price">{{article.prix}} DZ</span>
                    <!-- <ul class="stars">
                        BOUTIQUE
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul> -->
                    <span>{{article.description}}</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>{{article.description}}</p>
                    </div>
                    <div class="quantity-content">
                        <div class="left-content">
                            <h6>Tailles disponible :</h6>
                            {% for size in sizes%}
                            <h6><span class="badge text-secondary badge-light"> {{size}}</span></h6>
                            {% endfor %}
                        </div>

                    </div>
                    <!-- <div class="total">
                        <h4>Total: $210.00</h4>
                        <div class="main-border-button"><a href="#">Add To Cart</a></div>
                        BOUTIQUE
                    </div> -->
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- ***** Product Area Ends ***** -->
</div>
{% endblock %}