{% extends 'store/base.html' %}
{% load static %}
{% block content %}

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <div class="main-border-button">
                                </div>
                            </div>
                            <img src="{% static 'store/images/left-banner-image.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Vêtements pour femmes</h4>
                                            <span>Pantalon, pull, robe et bien d'autres choses </span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner"> 
                                                <h4>Femmes</h4>
                                                <p>Nos produits proviennents de France et d'Europe</p>
                                                <p>🇫🇷 🇪🇺</p>
                                                <div class="main-border-button">
                                                    <a href="/store/categories?categorie=vetement">Voire la liste !</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="{% static 'store/images/baner-right-image-01.jpg' %}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Cosmétiques</h4>
                                            <span>Soins, maquillages et autres produits de beauté</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Cosmétiques</h4>
                                                <p>Certains produits peuvent être testé en magasin.</p>
                                                <p>💄 &#129524; </p>
                                                <div class="main-border-button">
                                                    <a href="/store/categories?categorie=cosmetique">Voire la liste !</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="{% static 'store/images/baner-right-image-02.jpg' %}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Enfants</h4>
                                            <span>Vêtements et accesoires pour enfants</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Enfant</h4>
                                                <p>Pour les petits princes et les petites princesses</p>
                                                <p>👸 🤴</p>
                                                <div class="main-border-button">
                                                    <a href="/store/categories?categorie=enfant">Voire la liste !</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="{% static 'store/images/baner-right-image-03.jpg' %}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Bijoux et accesoires</h4>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Bijoux et accesoires</h4>
                                                <p>Boucle d'oreille, colier sac à main et bien d'autres choses</p>
                                                <p>🪞 👜</p>
                                                <div class="main-border-button">
                                                    <a href="/store/categories?categorie=bijoux">Voire la liste !</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="{% static 'store/images/baner-right-image-04.jpg' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Vetements Area Starts ***** -->
    <section class="section" id="men">
        <div class="container" id="vetements">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Vêtements</h2>
                        <span>Pantalon, pull, robe et bien d'autres choses</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            {% for vetement in vetements %}
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <!-- <li><a href="single-product.html"><i class="fa fa-star"></i></a></li> -->
                                            <li><a href="{% url 'store:detail' vetement.id %}"><i class="fa fa-eye"></i></a></li>
                                            <!-- <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li> -->
                                        </ul>
                                    </div>
                                    <img src="/media/{{vetement.image}}" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>{{vetement.name}}</h4>
                                    <span>{{vetement.prix}} DZD</span>
                                    <!-- <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul> -->
                                </div>
                            </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Vetements Area Ends ***** -->

    <!-- ***** Cosmetiques Area Starts ***** -->
    <section class="section" id="men">
        <div class="container" id="cosmetiques">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Cosmétique</h2>
                        <span>Soins, maquillages et autres produits de beauté</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            {% for comsetique in cosmetiques %}
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="{% url 'store:detail' comsetique.id %}"><i class="fa fa-eye"></i></a></li>
                                            <!-- <li><a href="single-product.html"><i class="fa fa-star"></i></a></li> -->
                                            <!-- <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li> -->
                                        </ul>
                                    </div>
                                    <img src="/media/{{comsetique.image}}" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>{{comsetique.name}}</h4>
                                    <span>{{comsetique.prix}} DZD</span>
                                    <!-- <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul> -->
                                </div>
                            </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Cosmetiques Area Ends ***** -->

    <!-- ***** Bijoux Area Starts ***** -->
    <section class="section" id="men">
        <div class="container" id="bijoux">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Bijoux</h2>
                        <span>Bijoux et accesoires</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            {% for bijou in bijoux %}
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="{% url 'store:detail' bijou.id %}"><i class="fa fa-eye"></i></a></li>
                                            <!-- <li><a href="single-product.html"><i class="fa fa-star"></i></a></li> -->
                                            <!-- <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li> -->
                                        </ul>
                                    </div>
                                    <img src="/media/{{bijou.image}}" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>{{bijou.name}}</h4>
                                    <span>{{bijou.prix}} DZD</span>
                                    <!-- <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul> -->
                                </div>
                            </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Bijoux Area Ends ***** -->
    <!-- ***** Enfant Area Starts ***** -->
    <section class="section" id="men">
        <div class="container" id="enfants">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Enfants</h2>
                        <span>Vêtements et accesoires pour enfants</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            {% for enfant in enfants %}
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="{% url 'store:detail' enfant.id %}"><i class="fa fa-eye"></i></a></li>
                                            <!-- <li><a href="single-product.html"><i class="fa fa-star"></i></a></li> -->
                                            <!-- <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li> -->
                                        </ul>
                                    </div>
                                    <img src="/media/{{enfant.image}}" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>{{enfant.name}}</h4>
                                    <span>{{enfant.prix}} DZD</span>
                                    <!-- <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul> -->
                                </div>
                            </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- ***** Enfant Area Ends ***** -->

    <!-- ***** Explore Area Starts ***** -->
    <!-- <section class="section" id="explore">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <h2>Explore Our Products</h2>
                        <span>You are allowed to use this HexaShop HTML CSS template. You can feel free to modify or edit this layout. You can convert this template as any kind of ecommerce CMS theme as you wish.</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i><p>You are not allowed to redistribute this template ZIP file on any other website.</p>
                        </div>
                        <p>There are 5 pages included in this HexaShop Template and we are providing it to you for absolutely free of charge at our TemplateMo website. There are web development costs for us.</p>
                        <p>If this template is beneficial for your website or business, please kindly <a rel="nofollow" href="https://paypal.me/templatemo" target="_blank">support us</a> a little via PayPal. Please also tell your friends about our great website. Thank you.</p>
                        <div class="main-border-button">
                            <a href="products.html">Discover More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="leather">
                                    <h4>Leather Bags</h4>
                                    <span>Latest Collection</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="first-image">
                                    <img src="{% static 'store/images/explore-image-01.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="second-image">
                                    <img src="{% static 'store/images/explore-image-02.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="types">
                                    <h4>Different Types</h4>
                                    <span>Over 304 Products</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- ***** Explore Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
    <div class="subscribe">
        <div class="container">
            <h2>Informations sur la boutiques</h2>
        </br>
            <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>Store Location:<br><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12946.92556517539!2d-0.4287218!3d35.781974!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd7e71736b80c465%3A0xf306b4c5ea7bf7de!2s3andlinda!5e0!3m2!1sfr!2sfr!4v1675266143252!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></li>
                                <!-- <li>Phone:<br><span>010-020-0340</span></li> -->
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Work Hours:<br><span>09:30 AM - 12:30 PM Daily</span></li>
                                <li>Email:<br><span>contact@3andlinda.dz</span></li>
                                <li>Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a> </span></li>
                            </ul>
            </div>
        </div>
    </div>
    <!-- ***** Subscribe Area Ends ***** -->
    {% endblock %}